.listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
  }
  
  .listing-card {
    
    border-radius: 8px; 
    width: 300px; 
    
    overflow: hidden; 
    transition: transform 0.2s; 
  }
  
  .listing-card:hover {
    transform: scale(1.02); 
  }
  
  .listing-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;  
  }
  
  .listing-title {
    font-size: 1.5em;  
    margin: 10px;  
  }
  
  .listing-type {
    font-size: 1em;  
    margin: 0 10px; 
    color: #777; 
  }
  
  .listing-details,
  .listing-price,
  .listing-rating {
    margin: 5px 10px; / 
  }